name: run_specific_image

on: 
  workflow_dispatch:
   inputs:
      environment:
        type: choice
        description: Environment
        required: true
        options:
          - dev-demo
          - dev2_eks
          - dev_eks
          - ci_eks
          - test_eks
          - stg_eks
          - prod_eks
      product_version:
         description: 'Put product version'
         # required: true
         default: '0.0'
      product_name:
         description: 'Put product name'
         required: true
         default: 'Run_specific_image'
      image_name:
         description: 'Put your image name'
         required: true
         default: 'mongo-express:latest'
         
env:
  PRODUCT_NAME: ${{ github.event.inputs.product_name }}
  PRODUCT_VERSION: ${{ github.event.inputs.product_version }}
  IMAGE_NAME: ${{ github.event.inputs.image_name}}
  # VALINT_VERSION: "scribe-security/action-bom@${{ github.event.inputs.valint_version}}"
  SCRIBE_URL: ${{ vars.SCRIBE_URL }}
  SCRIBE_AUDIENCE: ${{ vars.SCRIBE_AUDIENCE }}
  AUTHOR_NAME: ALONA DODUKH
  AUTHOR_EMAIL: author@scribesecurity.com
  AUTHOR_PHONE: 999-1111-11
  SUPPLIER_NAME: Scribe-Security
  SUPPLIER_URL: www.scribesecurity.com
  SUPPLIER_EMAIL: supplier@scribesecurity.com
  SUPPLIER_PHONE: 001-001-0011
  LABEL: github
  SCRIBE_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET_AUTH }}
  SCRIBE_TOKEN: ${{ secrets.CLIENT_SECRET_AUTH }}
  
      
jobs:
  build:
    environment: ${{ github.event.inputs.environment }}
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate signed docker SBOM for docker image
        id: valint_attest_file
        uses: scribe-security/action-bom@dev
        with:
                # statement-cyclonedx-json, attest, 
                # type: docker
                target: ${{env.IMAGE_NAME}}
                scribe-enable: true
                format: attest
                attest-default: x509-env
                product-key: ${{env.PRODUCT_NAME}}
                product-version: ${{env.PRODUCT_VERSION}}
                # scribe-client-secret: ${{env.CLIENT_SECRET_AUTH}}
                scribe-url: ${{ env.SCRIBE_URL}}
                scribe-auth-audience : ${{env.SCRIBE_AUDIENCE}}
                author-name: ${{env.AUTHOR_NAME}}
                author-email: ${{env.AUTHOR_EMAIL}}
                author-phone: ${{env.AUTHOR_PHONE}}
                supplier-name: ${{env.SUPPLIER_NAME}}
                supplier-url: ${{env.SUPPLIER_URL}}
                supplier-email: ${{env.SUPPLIER_EMAIL}}
                supplier-phone: ${{env.SUPPLIER_PHONE }}
                # deliverable: true
                label: ${{env.LABEL}}
                gate: github_alona
                
        env:
            ATTEST_KEY: ${{ secrets.ATTEST_KEY }}
            ATTEST_CERT: ${{ secrets.ATTEST_CERT}}
            ATTEST_CA:  ${{ secrets.ATTEST_CA }} 

      - name: Generate signed docker SBOM for docker image
        id: valint_second_attest
        uses: scribe-security/action-bom@master
        with:
                # statement-cyclonedx-json, attest, 
                # type: docker
                target: busybox:uclibc
                scribe-enable: true
                format: attest
                attest-default: x509-env
                product-key: ${{env.PRODUCT_NAME}}
                product-version: ${{env.PRODUCT_VERSION}}
                # scribe-client-secret: ${{ env.SCRIBE_TOKEN}}
                scribe-url: ${{ env.SCRIBE_URL}}
                author-name: ${{env.AUTHOR_NAME}}
                author-email: ${{env.AUTHOR_EMAIL}}
                author-phone: ${{env.AUTHOR_PHONE}}
                supplier-name: ${{env.SUPPLIER_NAME}}
                supplier-url: ${{env.SUPPLIER_URL}}
                supplier-email: ${{env.SUPPLIER_EMAIL}}
                supplier-phone: ${{env.SUPPLIER_PHONE }}
                # deliverable: true
                label: ${{env.LABEL}}
                gate: github_alona
                
      #   env:
      #       ATTEST_KEY: ${{ secrets.ATTEST_KEY }}
      #       ATTEST_CERT: ${{ secrets.ATTEST_CERT}}
      #       ATTEST_CA:  ${{ secrets.ATTEST_CA }}     
      - name: Generate valint evidence with aqua
        uses: scribe-security/action-evidence@master
        with:
                target: './aqua_apline.json'
                scribe-enable: true
                format: attest
                parser: aqua 
                tool: aqua
                tool-version: 0.0.1
                product-key: ${{env.PRODUCT_NAME}}
                product-version: ${{env.PRODUCT_VERSION}}
                scribe-client-secret: ${{ secrets.CLIENT_SECRET_AUTH}}
                scribe-url: ${{ env.SCRIBE_URL}}
                # scribe-auth-audience : ${{env.SCRIBE_AUDIENCE}}
                gate: github_alona     
     
      - name: Verify Image using x509 keys
        uses: scribe-security/action-verify@master
        with:
               target: ${{env.IMAGE_NAME}}
               scribe-enable: true
               components: packages,files,dep
               format: attest
               attest-default: x509-env
               product-key: ${{env.PRODUCT_NAME}}
               product-version: ${{env.PRODUCT_VERSION}}
               # scribe-client-secret: ${{ secrets.CLIENT_SECRET_AUTH}}
               scribe-url: ${{env.SCRIBE_URL}}
               scribe-auth-audience : ${{env.SCRIBE_AUDIENCE}}
               # common-name: "Scribe Security CA" - right now we have Githun issue to take only character before space
               email: "alona@scribesecutiry.com"
               verbose: 2
               label: ${{env.LABEL}}
               gate: github_alona
        env:
            ATTEST_CA: ${{ secrets.ATTEST_CA }}
            ATTEST_CERT: ${{ secrets.ATTEST_CERT }}    
     
      - name: Generate SLSA provenance statement
        id: valint_slsa_statement
        uses: scribe-security/action-bom@dev
        with:
                type: docker
                target: ${{env.IMAGE_NAME}}
                # attest-slsa, statement-slsa, attest-generic
                scribe-enable: true
                format: statement-slsa
                # attest-default: x509-env
                product-key: ${{env.PRODUCT_NAME}}
                product-version: ${{env.PRODUCT_VERSION}}
                # scribe-client-secret: ${{ secrets.CLIENT_SECRET_AUTH}}
                scribe-url: ${{env.SCRIBE_URL}}
                scribe-auth-audience : ${{env.SCRIBE_AUDIENCE}}
                gate: github_alona_slsa
        # env:
        #     ATTEST_KEY: ${{ secrets.ATTEST_KEY }}
        #     ATTEST_CERT: ${{ secrets.ATTEST_CERT}}
        #     ATTEST_CA:  ${{ secrets.ATTEST_CA }}  
                
      - uses: actions/upload-artifact@v3
        with:
                name: provenance
                path: ${{ steps.valint_slsa_statement.outputs.OUTPUT_PATH }}
          
                
                
